/*FONTS*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold.eot');
    src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-bold.woff2') format('woff2'),
    url('../fonts/roboto-bold.woff') format('woff'),
    url('../fonts/roboto-bold.ttf') format('truetype'),
    url('../fonts/roboto-bold.svg#robotobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-light.eot');
    src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-light.woff2') format('woff2'),
    url('../fonts/roboto-light.woff') format('woff'),
    url('../fonts/roboto-light.ttf') format('truetype'),
    url('../fonts/roboto-light.svg#robotolight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-lightitalic.eot');
    src: url('../fonts/roboto-lightitalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-lightitalic.woff2') format('woff2'),
    url('../fonts/roboto-lightitalic.woff') format('woff'),
    url('../fonts/roboto-lightitalic.ttf') format('truetype'),
    url('../fonts/roboto-lightitalic.svg#robotolight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium.eot');
    src: url('../fonts/roboto-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-medium.woff2') format('woff2'),
    url('../fonts/roboto-medium.woff') format('woff'),
    url('../fonts/roboto-medium.ttf') format('truetype'),
    url('../fonts/roboto-medium.svg#robotomedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff'),
    url('../fonts/roboto-regular.ttf') format('truetype'),
    url('../fonts/roboto-regular.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-italic.eot');
    src: url('../fonts/roboto-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-italic.woff2') format('woff2'),
    url('../fonts/roboto-italic.woff') format('woff'),
    url('../fonts/roboto-italic.ttf') format('truetype'),
    url('../fonts/roboto-italic.svg#robotoitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/robotocondensed-bold.eot');
    src: url('../fonts/robotocondensed-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotocondensed-bold.woff2') format('woff2'),
    url('../fonts/robotocondensed-bold.woff') format('woff'),
    url('../fonts/robotocondensed-bold.ttf') format('truetype'),
    url('../fonts/robotocondensed-bold.svg#roboto_condensedbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/robotocondensed-regular.eot');
    src: url('../fonts/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotocondensed-regular.woff2') format('woff2'),
    url('../fonts/robotocondensed-regular.woff') format('woff'),
    url('../fonts/robotocondensed-regular.ttf') format('truetype'),
    url('../fonts/robotocondensed-regular.svg#roboto_condensedregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/*COMMON*/

body {
    font-family: Roboto, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:active, a:focus, a:visited {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: block;
    border: none;
}

/*HEADER*/

/*TOP*/

.header-top {
    padding-top: 33px;
    padding-bottom: 26px;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
}

.logo {
    font-weight: 400;
    font-size: 22px;
    color: #67686d;
    letter-spacing: -1.3px;
    float: left;
}

.top-header-nav {
    float: right;
}

.top-header-column {
    display: inline-block;
    letter-spacing: 1px;
}

.cart {
    border: 1px solid #eeeeee;
    background: url(../img/cart.png) no-repeat;
    background-position: 19px 6px;
}

.phone {
    background: url(../img/phone.png) no-repeat;
    background-position: 4px 6px;
}

.top-header-column p, .top-header-column a {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 6px 22px 6px 18px;
}

.cart p {
    padding-left: 41px;
    padding-right: 13px;
}

.phone p {
    padding-left: 25px;
    padding-right: 20px;
}

.top-header-column p {
    color: #7e7f84;
}

.phone p, .cart a {
    font-weight: 700;
    color: #7e7f84;
}

/*NAVIGATION*/
.checkbox-container {
    display: none;
    position: absolute;
    background: url(../img/navbar.svg) no-repeat;
    background-position: 0 0;
    width: 50px;
    height: 50px;
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
    box-sizing: border-box;
    border-radius: 12px;
    top: 6px;
    left: -13px;
}

.nav-button {
    display: none;
}

.header-navigation form, .header-navigation ul {
    float: left;
}

.header-navigation li {
    float: left;
    color: #7e7f84;
    font-size: 14px;
    padding: 11px 36px 11px 0;
}

.drop-item {
    position: relative;
}

.header-navigation a {
    color: #7e7f84;
    text-transform: uppercase;
}

.header-navigation a:hover, .cart a:hover {
    color: #f45a40;
}

.dropdown {
    display: none;
    width: 175px;
    box-sizing: border-box;
    position: absolute;
    top: 41px;
    left: 0;
    border-top: 1px solid #7e7f84;
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
    z-index: 3;
}

.dropdown li {
    box-sizing: border-box;
    padding: 10px 25px;
    float: none;
}

.drop-item:hover .dropdown {
    display: block;
}

.header-navigation form input {
    box-sizing: border-box;
    border: none;
    padding: 12px 0 11px 26px;
    font-weight: 300;
    font-size: 14px;
    color: #7e7f84;
    background: url(../img/search.png) no-repeat;
    background-position: 6px 13px;
}

/*SLIDER*/

.slider {
    background: transparent;
    overflow: hidden;
}

.slider li {
    position: relative;
    background: transparent;
}

.unslider {
    position: relative
}

.unslider-nav {
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.slider-content-header {
    font-weight: 700;
    font-size: 58px;
    color: #f45a40;
    line-height: 63px;
    letter-spacing: 0.6px;
    position: absolute;
    top: 30.3%;
    left: 2.8%;
}

.slider-content-header:nth-of-type(2) {
    top: 40%;
}

.slider-content-p {
    display: block;
    width: 38%;
    font-weight: 400;
    font-size: 14px;
    color: #f45a40;
    margin-top: 3%;
    letter-spacing: 0.1px;
    line-height: 1.5;
    position: absolute;
    top: 45.6%;
    left: 2.8%;
}

.slider img {
    display: block;
    box-sizing: border-box;
    width: 100%;
}


/*CATEGORY*/

.article-box {
    margin-top: 53px;
}

.category {
    display: inline-block;
    width: 31.6%;
    margin-right: 2.1%;
}

.category:last-child {
    margin-right: 0;
}

.category:first-child {
    margin-left: 1px;
}

.category img {
    max-width: 100%;
}

.category a {
    font-family: RobotoCondensed, sans-serif;
    font-size: 23px;
    color: #f45a40;
    margin-top: 18px;
    margin-bottom: 14px;
    display: block;
}

.category a:hover {
    text-decoration: underline;
}

.category p {
    font-size: 14px;
    color: #7e7f84;
    line-height: 1.5;
}


/*RECOMMENDED*/
.article-box h2 {
    display: block;
    font-family: RobotoCondensed, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 23px;
    color: #67686d;
    margin: 0 auto;
    margin-bottom: 35px;
    width: fit-content;
    padding-left: 13px;
}

.recommended {
    vertical-align: top;
    display: inline-block;
    width: 23%;
    margin-left: 2.3%;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
}

.recommended:first-of-type {
    margin-left: 0;
}

.recommended img {
    max-width: 100%;
}

.recommended header h4, .recommended article h5 {
    color: #67686d;
    text-transform: uppercase;
}

.recommended header {
    padding: 16px 0 0 21px;
}

.recommended article {
    padding-left: 22px;
    padding-bottom: 14px;
    border-bottom: 1px solid #eeeeee;
}

.recommended footer {
    padding: 10px 19px 17px 21px;

}

.recommended header h4 {
    font-weight: 500;
    font-size: 18px;
}

.recommended article h5 {
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
}

.recommended p {
    width: 92%;
    display: block;
    font-weight: 300;
    font-size: 10px;
    color: #7e7f84;
    padding-top: 7px;
}

.price {
    display: block;
    float: left;
    color: #f45a40;
    font-size: 14px;
    font-weight: 500;
}

.add {
    float: right;
    display: block;
    background: url(../img/plus.png) no-repeat;
    background-size: cover;
    background-position: 0 0;
    margin-top: 1px;
    width: 18px;
    height: 18px;
}


/*ABOUT*/

.about {
    margin-top: 58px;
}

.about>h2 {
    color: #67686d;
    font-size: 23px;
    font-weight: 700;
}

.description p {
    font-style: italic;
    color: #7e7f84;
    font-size: 14px;
    display: block;
    margin-bottom: 21px;
}

.description {
    float: left;
    width: 61%;
    margin-top: 35px;
    line-height: 1.5;
    letter-spacing: 0.65px;
    word-spacing: -3px;
}

.map {
    float: right;
    width: 31%;
    margin-top: 4px;
}

@media screen and (max-width: 1075px) {
    .wrapper {
        max-width: 100%;
    }

    .recommended {
        float: left;
        width: 45%;
        margin-left: 0;
        margin-right: 5%;
        margin-bottom: 2%;
    }

    .about {
        margin-left: 1%;
        margin-right: 1%;
    }

}

@media screen and (max-width: 960px) {
    .wrapper {
        padding-left: 5px;
    }

    .header-navigation form, .header-navigation ul {
        float: none;
        z-index: 2;
    }

    .dropdown {
        width: 145px;
        position: absolute;
        top: 41px;
        left: 0;
        background: white;
        padding: 10px 0;
        z-index: 3;
    }

    .header-navigation li {
        padding: 11px 22px 11px 0;
    }

    .dropdown li {
        padding: 11px 11px 9px;
    }

    .slider-content-header {
        font-size: 48px;
        line-height: 1;
        top: 31%;
        left: 2.8%;
    }

    .slider-content-header:nth-of-type(2) {
        top: 40%;
    }

    .slider-content-p {
        display: block;
        width: 46%;
        font-size: 18px;
        margin-top: 3%;
        top: 47%;
        left: 2.8%;
    }

    .category {
        width: 31.6%;
        margin-right: 9px;
    }

    .recommended p {
        display: none;
    }

    .about {
        margin-top: 35px;
    }

    .description {
        float: none;
        width: 100%;

    }

    .map {
        float: none;
        width: 100%;
    }
}


@media screen and (max-width: 768px) {

    .article-box {
        margin-top: 20px;
    }

    .slider-content {
        top: 32%;
        left: 2.8%;
        width: 42%;
    }

    .slider-content-header {
        font-size: 24px;
        top: 32%;
        left: 2.8%;
    }

    .slider-content-p {
        width: 42%;
        display: block;
        font-size: 14px;
        margin-top: 3%;
        top: 44%;
        left: 2.8%;
    }

    .category {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 34px;
    }

    .category img {
        width: 100%;
    }



}

@media screen and (max-width: 480px) {
    .wrapper {
        position: relative;
    }

    .header-top {
        min-width: 360px;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 0;
    }

    .logo {
        float: none;
    }

    .top-header-nav {
        float: none;
        margin-top: 10px;
    }

    .top-header-column {
        display: block;
    }

    .cart {
        background-position: 4px 6px;
    }

    .cart p {
        padding-left: 29px;
    }

    .header-nav {
        position: absolute;
        top: 15px;
        right: 34px;
    }

    .drop-item:hover .dropdown {
        display: none;
    }

    .checkbox-container {
        display: inline-block;
    }

    .header-navigation {
        position: relative;
    }

    .nav-button {
        width: 100%;
        height: 100%;
    }

    .header-navigation form {
        float: none;
        background: white;
        position: absolute;
        top: 68px;
        left: -128px;
    }

    .header-navigation form input {
        padding: 5px 0 5px 26px;
        font-size: 12px;
        width: 100%;
        background-position: 5px 5px;
    }

    #collapse {
        background: white;
        position: absolute;
        top: 39px;
        right: -34px;
        width: 110px;
    }

    .nav-button + #collapse {
        display: none;
    }

    .nav-button:checked + #collapse {
        display: block;
        z-index: 7;
    }

    .nav-button:checked ~ form {
        display: block;
        z-index: 4;
    }

    .header-navigation li {
        float: none;
        text-align: right;
        font-size: 12px;
        padding: 7px 13px 7px 0;
    }

    .slider-content-header {
        top: 35%;
    }

    .slider-content-header:nth-of-type(2) {
        top: 47%;
    }

    .slider-content-p {
        display: none;
    }

    .recommended {
        float: none;
        display: block;
        min-width: 360px;
        margin: 0 auto;
        margin-bottom: 2%;
    }

    .recommended:first-of-type {
        margin: 0 auto;
        margin-bottom: 2%;
    }


}

